<% let title = 'How To' %>
<% include partials/header %>

<body>
  <div class="container">
    <div class="images">
      <img src="/img/ft-ictg-logo.jpg" alt="ft-choir-logo">
      <img src="/img/ft-choir-logo.jpg" alt="ft-ictg-logo">
    </div>
  </div>
  <section id="">
    <div class="container">
      <h3>Login</h3>
      <article>
        Visit: <a href="/login">Login page</a>
      </article>
    </div>
  </section>
  <script src=""></script>
</body>

</html>