<% let title = 'How To' %>
<% include partials/header %>

<body>
  <% include partials/navbar %>
  <div class="container">

  </div>
  <section id="">
    <div class="container">
      <h3 class="doc heading">Enlistr - user documentation</h3>
      <article class="doc text">
        With your <code>CHOIR ID</code>, visit the <a href="/login">Login page</a> .
        On successful login, you would be required to fill in your details to initiate your
        registration process. Ensure your telephone number is accurately filled in the format
        - <code> 08123456789</code> with no spaces or parenthesis in between characters.
        <br>
        <br>
        Ensure you have access to the phone as you would be receiving a <code>One Time Password(OTP)</code>. This
        OTP would serve as your unique identity at the Registeration Desk.
        <br>
        <br>
        <b>Enlistr</b> is designed to provide seamless registration process. However, should you
        have need to ascertain your <code>Registreration Status</code>, visit the <a href="/confirm">Confirmation Page
        </a> for that
      </article>
    </div>
  </section>
  <script src=""></script>
</body>

</html>