<% let title = 'Member Enlistment' %>
<% include partials/header %>

<body>
  <div class="container">
    <div class="images">
      <img src="/img/ft-ictg-logo.jpg" alt="ft-choir-logo">
      <img src="/img/ft-choir-logo.jpg" alt="ft-ictg-logo">
    </div>
    <form name="member-login" method="POST" action="/auth/enlist">
      <% if (message) {%>
      <article class="message"> <%= message %>:(</article>
      <%}%>
        <div class="form-group">
          <label for="member-id">Member ID:</label>
          <input type="text" required maxlength="9" pattern="^(FTCHR)\d{4}" name="choir_id" class="form-control" placeholder="Enter your ID">
        </div>
        <div class="form-group">
          <label for="surname">Surname:</label>
          <input name="surname" pattern="[a-zA-Z]{1,15}" title="Only less than 5 alphabets are allowed" required type="text" class="form-control">
        </div>
        <button name="enlist" type="submit" class="btn">Enlist</button>
      </form>
  </div>
  <script src=""></script>
</body>

</html>