<% let title = 'Invalid' %>
<% include partials/header %>

<body>
  <div class="container">
    <div class="error">
      <h1 class="error404"> 404 </h1>
      <% if (message) {%>
      <article class="message"> <%= message %></article>
      <%}%>
         
      </div>
  </div>
  <script src=""></script>
</body>

</html>