<% let title = 'Member Login' %>
<% include partials/header %>

<body>
  <% include partials/navbar %>
  <div class="container">
    <form name="member-login" method="POST" action="/">

      <% if (message) {%>
      <article class="message"> <%= message %></article>
      <%}%>
        <div class="form-group">
          <label for="member-id">Enter your Choir ID:</label>
          <input type="text" maxlength="9" pattern="^(FTCHR)\d{4}" title="You have not entered a valid ID" required name="choir_id" class="form-control" placeholder="FTCHR9876">
        </div>
        <button name="search" id="login-btn" type="submit" class="btn">Login <i class="fa fa-sign-in"></i></button>
      </form>
  </div>
  <script src=""></script>
</body>

</html>