<% let title = 'Member Login' %>
<% include partials/header %>

<body>
  <div class="container">
    <% include partials/navbar %>
    <form name="member-login" method="POST" action="/login">
      <div class="images">
        <img src="/img/ft-ictg-logo.jpg" alt="ft-choir-logo">
        <img src="/img/ft-choir-logo.jpg" alt="ft-ictg-logo">
      </div>
      <% if (message) {%>
      <article class="message"> <%= message %></article>
      <%}%>
        <div class="form-group">
          <label for="member-id">Choir ID:</label>
          <input type="text" maxlength="9" pattern="^(FTCHR)\d{4}" title="You have not entered a valid ID" required name="choir_id" class="form-control" placeholder="Enter your Choir ID">
        </div>
        <button name="search" id="login-btn" type="submit" class="btn">Login</button>
      </form>
  </div>
  <script src=""></script>
</body>

</html>