<% let title = 'Status' %>
<% include partials/header %>


<body>
  <div class="container">
    <div class="error">

      <% if (data.status) {%>
      <h1 class="error404"> <%= data.status %> </h1>
      <%}%>
      <% if (message) {%>
      <article class="message"> <%= message %></article>
      <%}%>
         
      </div>
  </div>
    <% include partials/footer %>
      <script src=""></script>
</body>

</html>