*{
  box-sizing: border-box;
}
html, ul, body{ 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  text-align: center;
}
a:hover{
  text-decoration: underline;
  font-weight: 700;
}

body{
  background: #ccc;
}
.container{
  width: 95%;
  margin: auto;
}
.clearfix::after{
  display: block;
  clear: both;
  content: "";
}
.navlinks{
  margin: 15px auto;
  text-align: center;
}
.navlinks a{
color: #100;
padding: 5px 10px;

}
.navlinks a:nth-last-of-type(2){
  margin: 0px 5px;
}
.message{
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: left;
  line-height: 1.5;
  font-weight: bold;
  color: #100;
  background-color: gold;
}
.images{
  margin:  auto;
  text-align: center;
}
.images img{
  width: 80px;
  height: 80px;
  border-radius: 60%;
  padding: 3px;
}
.app-name{
  text-align: center;
}
form{
  padding: 15px 20px;
}

form[name="member-login"]{
  width: 96%;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #ddd;;
}
.form-group{
  margin-bottom: 12px;
}
.form-control{
  
  margin: auto;
}
form[name="member-login"] input[type='text'], select,input[type='tel'] {
  width: 100%;
  display: block;
  padding: 5px 8px;
  font-size: 1.1em;
  outline: 0;
  
}
.btn{
  width: 100%;
  color: #fff;
  background-color: #6600ff;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 1.1em;
  outline: 0;
  box-shadow: 0 0 2px #010;
  margin: auto;
}
[for="availability"], [for="accomodation"]{
  display: block;
}
label.form-control{
  /* width: 45%; */
  display: block;
  margin: 15px auto;
}
label.form-control input{
  /* width: 20 */
  margin: 5px 10px;
}
.row{
  width: 90%;
  margin: 4px auto;
}
table{
  text-align: left;
}
tr::nth-of-type(odd){
  background-color: #fff;
}
th, td{
  padding: 4px 9px;
}

.error404{
  font-size: 5.5em;
  color: #100;
  text-align: center;
}

section[id]{
  margin: auto;
  text-align: center;
}
.heading{
  text-align: left;
}
article.doc{
  text-align: left;
  line-height: 1.5;
}


/* Admin */
.dash-hamburger{
  font-size: 3.5em;
  padding: 2px;
}
.clearfix::after,
    .row::after {
      display: block;
      clear: both;
      content: "";
    }

    .sidebar {
      display: none;

    }

    .title {

      margin: auto;
      padding: 5px;
    }

    .close {
      float: right;

      text-align: center;
      padding: 3px;
      background: #100;
      color: beige;
      font-size: 1.0em;
    }

    .close::after {
      display: block;
      content: "";
      clear: both;
    }


    .sidebar ul li {
      margin: 3px auto;
      padding: 2px 5px;
      text-align: left;
    }

    .sidebar ul li a {
      color: #2ee;
      font-size: 1.1em;
      padding: 2px;
    }

    /* With .show, show .sidebar, shrink .main */

    .show .sidebar {
      background: #409222;

      padding: 2px 10px;
      padding-right: 0;
      display: block;
      float: left;
      width: 30%;

    }

    .show .main {
      /* display: none; */
      margin-left: 31%;
    }

    /* Main style */

    .main {
      background: #320dcc;
      color: #fff;
      padding: 15px 20px;

    }





    .dash-add-link {
      float: right;
      padding: 10px 12px;
      border: 1px solid #100;
      background: #ccc;
      color: #100;
    }
