<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Enlistr | <%= title %></title>
  <meta name="description"
    content="Enlistr | A seamless automation of registration & verification of choristers at Faith Tabernacle, Canaaanland for Shiloh 2019 - Breaking Limits ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/css/fa.min.css"> -->
  <!-- Fontawesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

  <link rel="icon" href="/img/lfc_logo.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>