<section id="nav">
  <div class="container">
    <div class="images">
      <img src="/img/ft-ictg-logo.jpg" alt="ft-choir-logo">
      <img src="/img/ft-choir-logo.jpg" alt="ft-ictg-logo">
      <h1 class="app-name"> Enlistr </h1>
    </div>

    <div class="navlinks">
      <a href="/docs">How To</a>
      <a href="/">Login</a>
      <a href="/confirm">Confirm</a>
    </div>
  </div>
</section>