<ul class="">

  <li><a href="/auth/enlist"><i class="fa fa-bars"></i> <span class="link-item">Enlist</span></a></li>
  <li><a href="/auth/members"><i class="fa fa-bars"></i> <span class="link-item">Membership List</span></a></li>
  <li><a href="/auth"><i class="fa fa-bars"></i> <span class="link-item">Admin</span></a></li>
  <li><a href="/auth/reset"><i class="fa fa-bars"></i> <span class="link-item">Reset</span></a></li>
</ul>