<ul class="">

  <li><a href="/auth/enlist"><i class="fa fa-plus-circle"></i> <span class="link-item">Enlist</span></a></li>
  <li><a href="/auth/members"><i class="fa fa-user-tag"></i> <span class="link-item">Membership List</span></a></li>
  <li><a href="/auth/uploads"><i class="fa fa-tag"></i> <span class="link-item">Bulk Enlistment</span></a></li>

  <li><a href="/auth"><i class="fa fa-user"></i> <span class="link-item">Admin</span></a></li>
  <li><a href="/auth/reset"><i class="fa fa-eraser"></i> <span class="link-item">Reset</span></a></li>
  <li><a href="/auth/logout"><i class="fa fa-long-arrow-alt-left"></i> <span class="link-item">Logout</span></a></li>

</ul>